
<div class="container">
  <div class="row">
    <div class>
      <h1>Please enter the clothing item's information.</h1>

      <%= simple_form_for (@garment) do |g| %>
        <%= g.input :name, as: :string %>
        <%= g.simple_fields_for :materials do |m| %>
          <%= render 'material_fields', g: m %>
            <div class="links">
              <%= link_to_add_association 'add material', g, :materials %>
            </div>
        <% end %>
        <%= g.simple_fields_for :blends do |b| %>
          <%= render 'blend_fields', g: b %>
            <div class="links">
              <%= link_to_add_association 'add blend', g, :blends %>
            </div>
        <% end %>
        <%= g.button :submit, class: "btn btn-primary" %>
      <% end %>

       <!--  how to mark things as optional? -->
    <!--    how to add additional fields if needed? -->
  <!--       how to associate brand with garment, considering garment has brand_id. Can make new instance of brand? Brand is not nested under garment, so can't use 'accept nested attributes?'-->

    </div>
  </div>
</div>







    <%= simple_form_for [@garment, @blend] do |g| %>
        <%= g.association :material, collection: Material.order('name ASC')  %>
        <%= g.input :percentage_material, as: :integer %>
        <%= g.button :submit, class: "btn btn-primary" %>
        <% end %>



    <%= simple_form_for [@brand, @garment] do |b| %>
        <%= b.input :name %>
        <%= b.input :website %>
        <%= b.input :email %>
        <%= b.button :submit, class: "btn btn-primary" %>
      <% end %>
