
<div class="background-cover">
<div class="container-form mx-auto">
  <div class="row-form mx-auto">
    <div class="my-auto">
      <div class="bg-light py-3 px-5">
        <div class="">
          <h1>Please enter the clothing information.</h1>
        </div>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info">
            <%= msg %>
          </div>
        <% end %>
        <br>

        <%= simple_form_for (@garment) do |f| %>

          <%= f.input :name, as: :string %>
          <%= f.association :brand, collection: Brand.order('name ASC') %>

          <div class="bg-warning text-center">
            <em> <%= f.error :base %> </em>
          </div>

            <%= f.simple_fields_for :blends do |blend| %>
              <%= render 'blend_fields', f: blend %>
            <% end %>
            <div class="links">
                  <%= link_to_add_association 'Add material', f, :blends %>

            </div>

          <%= f.input :image, as: :file %>
          <%= f.button :submit, class: "btn btn-dark btn-block" %>

        <% end %>
        <br>
        <div class="">*stay tuned for our future scanning technology!</div>
        <br>
        <div class="">
          <div class="row mx-auto justify-content-center">
            <div class="m-2">
              <p><%= link_to purchases_path do %>
                      <i class="fas fa-tshirt"></i>
                    <% end %></p>
            </div>
            <div class="m-2">
              <p><%= link_to materials_path do %>
                      <i class="fas fa-book-open"></i>
                    <% end %></p>
            </div>
         </div>
         </div>
      </div>
    </div>
  </div>
</div>
</div>
