
<div class="background-cover">
<div class="container-form mx-auto justify-content-center">
  <div class="row-form justify-content-center">
    <div class="col-md-10 my-auto">
      <div class="bg-light py-3 px-5">
        <div class="">
          <h1 class="text-center">Please enter the clothing information.</h1>
        </div>
        <% flash.each do |type, msg| %>
          <div class="alert alert-info">
            <%= msg %>
          </div>
        <% end %>
        <br>
        <%= simple_form_for (@garment) do |f| %>
          <div class="row justify-content-center">
              <div class="col-md-6">
              <%= f.input :tag, as: :file, label: false %>
              <br>
            </div>
          </div>
          <%= f.button :submit, 'Scan the materials tag', class: "btn btn-dark btn-block" %>
          <br>
          <div class="bg-warning text-center">
            <em> <%= f.error :base %> </em>
          </div>
          <br>
          <div id="revealmanualform">
            <h5 class="text-center">OR manually enter materials & percentages:</h5>
            <br>
          </div>
          <div class="" id="manualform">
            <%= f.simple_fields_for :blends do |blend| %>
              <%= render 'blend_fields', f: blend %>
            <% end %>
            <div class="links">
                  <%= link_to_add_association 'Add material', f, :blends %>
            </div>
          </div>
          <br>
          <%= f.button :submit, 'Calculate the ECO-score!', class: "btn btn-dark btn-block" %>
        <% end %>
        <br>
        <div class="">
          <div class="row mx-auto justify-content-center">
            <div class="m-2">
              <p><%= link_to purchases_path do %>
                      <i class="fas fa-tshirt"></i>
                    <% end %></p>
            </div>
            <div class="m-2">
              <p><%= link_to materials_path do %>
                      <i class="fas fa-book-open"></i>
                    <% end %></p>
            </div>
         </div>
         </div>
      </div>
    </div>
  </div>
</div>
</div>
