
<div class="background p-3">
  <div class="rating-box col-md-5 container center-align shadow p-5">
    <h4>Your ECO-rating for your garment</h4>
    <p id="slogan"><small> <%= @garment.slogan %> </small></p>
    <div class= "percent d-flex justify-content-around">
      <h1 class= <%= @garment.percent_color %>> <%= link_to "#{@garment_rating}%", score_information_path, class: @garment.percent_color %></h1>
    </div>
    <h5><%= link_to 'Materials', materials_path %></h5>
    <% @garment.blends.each do |blend| %>
    <p class="material"><em><%= blend.percentage_material %>% <%= link_to "#{blend.material.name}", materials_path(anchor: "#{blend.material.name.downcase}")%></em></p>
    <% end %>
    <div class= "ruler d-flex justify-content-around">
      <div class="box">
        <p>0-49</p>
        <p>Not eco recommended</p>
      </div>
      <div class="box">
        <p>50-74</p>
        <p>You can do better!</p>
      </div>
      <div class="box">
        <p>75-100</p>
        <p>Excellent choice!</p>
      </div>
    </div>
    <% if !user_signed_in? || !current_user.purchases.map(&:garment_id).include?(@garment.id)%>
    <br>
    <hr class="solid">
    <p>Do you own this garment? Add to your closet to keep track of your ECO-rating!</p>
         <div class="form-container">
      <%= simple_form_for @garment do |f| %>
        <%= f.input :name, label: "Name of garment" %>
              <div class="">
        <%= f.association :brand, collection: Brand.order('name ASC') %>
          </div>
        <%= f.input :image, as: :file, label: "Image of garment (optional)" %>
      </div>
        <%= f.button :submit, "Add garment to closet", class: "btn btn-dark mt-4" %>
      <% end %>
    <% end %>
    <hr class="solid">
  <div class="buttons-container d-flex justify-content-start">
      <div class="buttons-box col">
        <p class="button-icon"><%= link_to '<i class="fas fa-redo-alt"></i>'.html_safe, new_garment_path %></p>
        <p>scan another garment</p>
      </div>
      <div class="buttons-box col">
      <p class="button-icon"><%= link_to '<i class="fas fa-tshirt"></i>'.html_safe, purchases_path %></p>
      <p>closet</p>
      </div>
    </div>

     <p><%= flash[:alert]%></p>

  </div>
</div>
