<div class="main-container">
  <div class="title">
    <h1>MY CLOSET <i class="fas fa-seedling"></i>
    </h1>
    <h2>Your total ECO-score is <strong class= "<%= @color %>" ><%=@average.round(1)%>%</strong> out of <%= @purchases.count %> items.</h2>
    <p><%= link_to "Scan an item", new_garment_path, class: "btn btn-primary mt-4" %>
    </p>
    <div class="share">
      <p>Share your score</p>
      <div class="links-socialmedia">
        <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <div class="container" style="background-image: url('<%= cl_image_path("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80") %>')">
    <div class="cards">
      <% @purchases.each do |purchase| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path(purchase.garment.image.key, width: 300, height: 400, crop: :fill) if purchase.garment.image.attached? %>')">
        <%= link_to garment_path(purchase.garment) do %>
        <div class="card-text">
          <div class="card-title">
            <h3><strong><%= purchase.garment.name %></strong></h3>
          </div>
          <div class="card-info-1">
            <p> ECO-rating: <%=purchase.garment.percentage%>%</p>
          </div>
          <div class="card-info-2">
            <p> Brand: <%= purchase.garment.brand.name %> </p>
          </div>
          <div class="btn-delete">
            <%= link_to purchase_path(purchase),
            method: :delete,
            data: { confirm: "Delete this item from your closet?" } do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
