<div class="container-materials">
  <div class="row bg-light px-5 py-3 row-materials mx-auto">
    <div class>
      <div class="a_materials py-3">
        <div class="text-center py-3">
          <h1>The Good...</h1>
            <div class="py-3 gbu-heading">
              <p><em>We classify these materials as those that are biodegradable and sustainable to produce and wash with minimal impact on the environment. Few of these are available widely. But with your help in making the right <strong>choice</strong>, we can encourage clothing companies to realize our desire for more sustainable clothing ;)</em></p>
            </div>
        </div>
        <div class="material_hemp" id="hemp">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
              <img src="https://images.unsplash.com/photo-1574287652252-d5fcb8ad6ea4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
              <div class="card-product-infos">
                <h2>Hemp</h2>
                <p>Growing hemp requires less water and pesticides than cotton. It also <strong>improves soil conditions and sequesters carbon dioxide</strong> from atmosphere. Nevertheless, processing hemp is less efficient and therefore costly, and it can be hard to dye.</p>

              <div class="rating">
                <div><p><em>&#8226; biodegradable</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_flax" id ="flax">
          <div class="material_linen" id="linen">
            <div class="card-product">
              <div class="material-img"  width="260" height="260">
              <img src="https://images.unsplash.com/photo-1440342324699-75e542689857?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
              </div>
              <div class="card-product-infos">
                <h2>Linen/Flax</h2>
                <p>Linen, made from flax fibres, dates back to as early as 4BC in ancient Egypt. Growing flax <strong>does not require pesticides or much water</strong>. Production of linen via a *closed loop production process without chemical retting, bleaching or dyeing is extremely eco-friendly. If you compost something made of undyed and unfinished linen, it will completely biodegrade.</p>
                <div class="rating">
                  <div><p><em>&#8226; biodegradable</em></p></div>
                  <div><strong>Rating: A+</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_lyocell" id="lyocell">
          <div class="material_tencel" id="tencel">
            <div class="card-product">
              <div class="material-img"  width="260" height="260">
              <img src="https://images.unsplash.com/photo-1566764939731-dd2b86b2dd0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60">
              </div>
              <div class="card-product-infos">
                <h2>Lyocell/Tencel®</h2>
                <p>Like rayon, lyocell fabric is a made from wood cellulose, but differs in that it requires less chemical processing. Tencel®  is a brand of lyocell by the Austrian company, Lenzing AG, that processes GM-free, sustainably farmed trees (ie: beechwood) via *closed loop production. Lyocell <strong>does not need bleaching and uses less dye than cotton</strong>. Lyocell has also recently begun to be processed from bamboo, which grows fast without fertilisers or irrigation (although bamboo itself can be controversial, see below)</p>
                <div class="rating">
                  <div><p><em>&#8226; biodegradable</em></p></div>
                  <div><strong>Rating: A+</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_jute" id="jute">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1565273976195-6f8529600264?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
             <div class="card-product-infos">
              <h2>Jute</h2>
              <p>Jute is obtained from the bark of the white jute plant, which requires plenty of water (usually rain) to grow. Production of jute <strong>uses less chemicals, fertilizers, chemicals, dyes and bleaches</strong>, and its yield is 4 times more than flax per acre. Growing jute also improves soil conditions, and helps absorb and store large quantities of CO2. However, jute fibers are stiff and coarse, and its tensile strength is much lower than that of cotton and flax, complicating the production of soft and fine fabrics from jute.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable, recyclable</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_pinatex" id="pinatex">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1550828520-4cb496926fc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60">
            </div>
             <div class="card-product-infos">
              <h2>Piñatex™</h2>
              <p>Piñatex™ is made from the fibers of pineapple leaves after harvesting the fruit from the pineapple crop, so no extra land, water or chemicals are needed to produce the material. It is a <strong>good vegan substitute for leather as it is strong and durable</strong>. The leftover leaves can be used ad fertilizer or biofuel so no wastage occurs. You can check out other plant leathers <%= link_to 'here', "https://medium.com/age-of-awareness/vegan-leather-usually-not-cruelty-free-8da87e4716e2", :target => "_blank" %>.</p>
              <div class="rating">
                <div><p><em>&#8226; not 100% biodegradable (as yet), reduced waste</em></p></div>
                <div><strong>Rating: A</strong></div>
              </div>
            </div>
          </div>
        </div>
           <br>
        <div class="material_nettle" id="nettle">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1557858281-a23455f48995?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
             <div class="card-product-infos">
              <h2>Nettle</h2>
              <p>Nettle grows like a weed in Europe, Africa and western North America, and is related to both hemp and flax. Like hemp and flax, it was historically used in Victorian times before cotton became as prevalent as it is today. Growing nettle <strong>requires minimal water and no pesticides</strong>. In fact, nettle can thrive in soil that is too barren for other crops (while also replenishing it with nutrients). The plant is used for many uses, with leftover stalk used for animal bedding, so growing it produces no waste.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable, reduced waste</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_cotton_organic" id="cotton_organic">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1579795937561-dfbc32b1d7e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
             <div class="card-product-infos">
              <h2>Cotton (Organic)</h2>
              <p>Growing cotton requires a lot of water, chemicals and pesticides. <strong>Organic cotton involves avoiding chemicals and pesticides</strong> to reduce the impact on soil fertility and contamination of nearby bodies of water. To ensure the cotton is truly organic, third party certification is vital, as fake certificates have been used by big companies for 'greenwashing' and misleading strongeting.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable, water consumption</em></p></div>
                <div><strong>Rating: A</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_soy" id="soy">
          <div class="material_soy_silk" id="soy_silk">
            <div class="card-product">
              <div class="material-img"  width="260" height="260">
              <img src="https://images.pexels.com/photos/273838/pexels-photo-273838.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
              </div>
               <div class="card-product-infos">
                <h2>Soy</h2>
                <p>Soy fabric is made from the fibers of soy bean hulls. Soy requires more water and pesticides than bamboo and hemp, although GMO strains have also been developed. Deforestation to grow more soy is also a concern. Processing includes the use of formaldehyde which is a probable carcinogen (alternatives are being investigated). Unlike during production of bamboo and wood cellulose, the chemicals are reused for soy. Soy beans are also used to make tofu, so manufacturing fabric from it <strong>reduces waste</strong>. Producing this soft, cashmere-like fabric is still <strong>more sustainable than non-organic cotton</strong>, but care is needed to ensure it is grown sustainably.</p>
                <div class="rating">
                  <div><p><em>&#8226; reduced waste, biodegradable</em></p></div>
                  <div><strong>Rating: A</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>

      <div class="b_materials py-3">
        <div class="text-center py-3">
          <h1>The Bad...</h1>
            <div class="py-3  gbu-heading">
              <p><em>We classify these materials as those that <strong>could</strong> be  sustainable to produce and use... but for certain significant reasons, are often not. These fabrics hold a lot of potential, but we can not ignore the harm that current production methods inflict on our environment.</em></p>
            </div>
        </div>
        <div class="material_rayon" id="rayon">
          <div class="material_viscose" id="viscose">
            <div class="card-product">
              <div class="material-img"  width="260" height="260">
              <img src="https://images.unsplash.com/photo-1524464790303-b7f467781d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
              </div>
              <div class="card-product-infos">
                <h2>Rayon(Viscose)</h2>
                <p>This highly controversial fabric is made from bamboo and trees, tough plants whose fibers are broken down with harsh chemical and mechanical processes involving sulfuric acid, sodium hydroxide and carbon disulfide. <strong>Factory workers suffer greatly (insanity, heart disease, nerve damage), and neighbouring waterways are often polluted</strong>, harming local children(mental degeneration), and causing great environmental damage. Production is also linked to deforestation.</p>
                <div class="rating">
                  <div><p><em>&#8226; semi-synthetic, health hazard, pollution</em></p></div>
                  <div><strong>Rating: B-</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_bamboo" id="bamboo">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1540999758994-161f2ee6e1c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
            </div>
            <div class="card-product-infos">
              <h2>Bamboo</h2>
              <p>Bamboo grows fast, does not require fertilizer or as much water, pesticides and labor to grow. However China is the main producer of bamboo and there is a lack of information on how sustainably it is grown. Processing bamboo <strong>can involve lots of harsh chemicals</strong> and it is most commonly made into rayon, which is very toxic to produce, and results in the release of a lot of pollutants. Processing bamboo into Lyocell and Tencel® is more sustainable but few brands produce these fabrics. Bamboo is more sustainable than cotton to grow, but methods for processing it need to be more environmentally friendly.</p>
              <div class="rating">
                <div><p><em>&#8226; pollution</em></p></div>
                <div><strong>Rating: B</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_cotton" id="cotton">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1502395809857-fd80069897d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
              <div class="card-product-infos">
              <h2>Cotton</h2>
                 <p>Cotton is extremely versatile, but only 30% is rainwater-grown, the rest requires irrigation <strong>(10,000-20,000 gallons per jeans, and ~ 3,000 per T-shirt!)</strong> <%= link_to '(link)', "https://www.independent.co.uk/life-style/fashion/fabrics-environment-fast-fashion-eco-friendly-pollution-waste-polyester-cotton-fur-recycle-a8963921.html", :target => "_blank" %>, causing environmental disasters like the Aral Sea shrinkage <%= link_to "(link)", "https://www.theguardian.com/sustainable-business/sustainable-fashion-blog/2014/oct/01/cotton-production-linked-to-images-of-the-dried-up-aral-sea-basin", :target => "_blank" %>. Production requires heavy <strong>use of pesticides and chemicals</strong>, and/or GM-crop, contributing to heavy debt linked to farmer suicides in India <%= link_to "(link)", "https://www.theguardian.com/global-development/gallery/2014/may/05/india-cotton-suicides-farmer-deaths-gm-seeds", :target => "_blank" %>. Long term cultivation causes erosion and depletes soil nutrients, resulting in further encroachment into habitats. In addition, most of the world's cotton is grown in developing countries where environmental laws are not heavily enforced. Read more about cotton's impact <%= link_to "here", "https://www.tortoiseandladygrey.com/2014/09/01/textile-review-the-environmental-impacts-of-cotton/", :target => "_blank" %> and <%= link_to "here", "https://www.worldwildlife.org/industries/cotton" %>.</p>
              <div class="rating">
                <div><p><em>&#8226; water-intensive, social & environmental impact, pollution, habitat-destruction</em></p></div>
                <div><strong>Rating: B-</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_modal" id="modal">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1562157873-818bc0726f68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
              <div class="card-product-infos">
              <h2>Modal</h2>
              <p>Modal is a semi-synthetic fiber like rayon that is often used as an alternative to cotton jersey. It is manufactured via a *closed loop process, and its growth uses ten to twenty times less water than cotton. Tradestronged  Lenzing Modal® by the Austrian company Lenzing AG is obtained from sustainably managed beech tree plantations in Europe. However, other modal sources on the stronget have been <strong>linked to deforestation</strong> in Indonesia, where rainforests have been felled to make way for timber plantations, causing <strong>loss of habitat and endangerment of vulnerable animal and plant species</strong>.</p>
              <div class="rating">
                <div><p><em>&#8226; deforestation, habitat-destruction</em></p></div>
                <div><strong>Rating: B-</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_wool" id="wool">
        <div class="material_cashmere" id="cashmere">
        <div class="material_alpaca" id="alpaca">
        <div class="material_mohair" id="mohair">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1484557985045-edf25e08da73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
              <div class="card-product-infos">
              <h2>Wool/Cashmere/Alpaca/Mohair</h2>
              <p>Animal fibers like wool, cashmere, alpaca and mohair and angora are <strong>quite sustainable</strong> and don't involve killing of the animals. However, there has been reports <%= link_to "(link)", "https://investigations.peta.org/australian-wool-industry-cruelty/", :target => "_blank" %> by animal rights activists in Australia of shearers kicking, punching and killing the animals while shearing, as well as <strong>reports of animal cruelty</strong> in China, the largest producer of Angora wool from rabbits. Non-organic farming of animals may also involve anti-tick with harmful chemicals. Where possible, buy local or free-trade wool to avoid these issues. Kept carefully, woolen clothes will endure much longer than cotton garments.</p>
              <div class="rating">
                <div><p><em>&#8226; animal-cruelty, biodegradable</em></p></div>
                <div><strong>Rating: B+</strong></div>
              </div>
            </div>
          </div>
          </div>
          </div>
          </div>
        </div>
        <br>
        <div class="material_silk" id="silk">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.pexels.com/photos/2933636/pexels-photo-2933636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
              <div class="card-product-infos">
              <h2>Silk</h2>
              <p>Silk is produced by silkworms fed with mulberry leaves. Growing mulberry requires pesticides and fertilizer, and chemicals are also used during the production of silk. Nevertheless, <strong>far less chemicals are needed compared to cotton</strong>. Silk is often obtained from the worms by boiling the chrysalis, thereby killing the insects, however peace silk is harvested after the moths emerge, avoiding animal cruelty. Although many silk garments are stronged "Dry Clean Only", you should <strong>handwash silk as dry-cleaning releases a lot of pollutants</strong> and is not necessary to preserve silk, which is a long-lasting and classically stylish fabric.</p>
              <div class="rating">
                <div><p><em>&#8226; possible animal cruelty</em></p></div>
                <div><strong>Rating: A/B+</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_ramie" id="ramie">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1531387906034-2be913531bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
            </div>
              <div class="card-product-infos">
              <h2>Ramie</h2>
              <p>Like linen, ramie is an ancient fabric, dating back to Ancient Egypt where it might have been used to wrap mummies. The ramie plant is mostly grown in China, Brazil, the Philippines, and India. Ramie is naturally rot and insect resistant (does not require pesticides), and can be harvested up to 6 times per year. Nevertheless, producing the fibers is <strong>costly and labor intensive, and the fibers are treated with chemicals</strong> during production. Ramie fibers are very strong (even stronger when wet), but are not as durable as other fibers, so ramie is usually blended with cotton or wool. In addition, ramie dyes easily, is crease-resistant, and as smooth as silk.</p>
              <div class="rating">
                <div><p><em></em></p></div>
                <div><strong>Rating: B</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_down" id="down">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1514829560620-c510997c9c41?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60">
            </div>
              <div class="card-product-infos">
              <h2>Feather Down</h2>
              <p>Eiderdown is very expensive and hand-collected after being shed by eider geese. However most down comes from geese, and is a byproduct of livestock farming that would otherwise be thrown away. <strong>Ethical concerns come from the practice of live plucking</strong> <%= link_to "(link)", "https://www.theguardian.com/world/2016/jan/14/winter-coat-ethically-produced-down-goose-feathers", :target => "_blank" %>, which can be done several times a year until the goose is slaughtered. Live-plucking is banned in the U.S and some European countries, but still occurs in some Eastern European countries and China. The alternative is synthetic filling in your blankets, which we do not recommend either. Therefore, <strong>look for ethical real down, or recycled real down</strong> for a more sustainable choice.</p>
              <div class="rating">
                <div><p><em>&#8226; animal-cruelty</em></p></div>
                <div><strong>Rating: B</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
      <div class="c_materials py-3">
        <div class="text-center py-3">
          <h1>and The Ugly...</h1>
            <div class="py-3  gbu-heading">
              <p><em>We classify these materials as those that <strong>harm our environment and health</strong> during production, use, and after being discarded. These fabrics may be cheap to produce and buy, but the price we pay from polluted seas, suffering animals, and toxic food is much to high for us to pay!</em></p>
            </div>
        </div>
        <div class="material_leather" id="leather">
         <div class="material_leather">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
            <img src="https://images.unsplash.com/photo-1473188588951-666fce8e7c68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60"/>
            </div>
              <div class="card-product-infos">
                <h2>Leather</h2>
                <p>We'll be the first to admit, leather looks awesome. But non-eco friendly leather results in: <strong>huge methane emissions</strong> (livestock are estimated to be responsible for 14.5% of global greenhouse gass emission) <%= link_to "(link)", "http://www.fao.org/news/story/en/item/197623/icode/", :target => "_blank" %>; <strong>deforestation</strong>; <strong>toxic chemicals</strong> from tanning (carcinogenic chromium, lead, arsenic and acids); polluted waterways. <strong>Tannery workers suffer from cancer, kidney and liver damage, and reproductive problems</strong>. Sustainable leather is a possibility, but leather alternatives derived from pineapples, grapes, mushrooms or seaweed are better!</p>
                <div class="rating">
                  <div><p><em>&#8226; animal-cruelty, global warming, pollution</em></p></div>
                  <div><strong>Rating: C-</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_fur" id="fur">
         <div class="material_fur">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
              <img src="https://images.unsplash.com/photo-1570211240189-44452b51e41d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
            </div>
              <div class="card-product-infos">
                <h2>Fur</h2>
                <p>Faux fur (which brings it's own host of problems, see acrylic and polyester) is often used to substitute real fur, however real fur can still be found on the stronget. While fur comes from a natural source, <strong>making fur requires toxic chemicals</strong> to treat pelts, resulting in water and soil pollution. <strong>Killing animals coveted for their fur</strong> also involves fur farms or hunting wild animals (reduced biodiversity). Our attitude to fur is if you like it furry, don't shave and grow some of your own... or shell out the moolah and buy vintage. </p>
                <div class="rating">
                  <div><p><em>&#8226; animal-cruelty, pollution</em></p></div>
                  <div><strong>Rating: C</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_polyester" id="polyester">
         <div class="material_polyester">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
              <img src="https://images.unsplash.com/photo-1534072700421-3100bd80c44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
            </div>
              <div class="card-product-infos">
                <h2>Polyester</h2>
                <p>Annually, polyester is made with <strong>over 70 million oil barrels</strong> <%= link_to "(link)", "https://www.forbes.com/sites/jamesconca/2015/12/03/making-climate-change-fashionable-the-garment-industry-takes-on-global-warming/#3076d33879e4", :target => "_blank" %>. Its production <strong>requires over double the energy</strong> of cotton and cancer-causing, water and air polluting chemicals. It is <strong>non-biodegradable and releases ~1900 microplastic particles per garment per laundry session</strong> <%= link_to "(link)", "https://www.theguardian.com/sustainable-business/2014/oct/27/toxic-plastic-synthetic-microscopic-oceans-microbeads-microfibers-food-chain", :target => "_blank" %>, and it requires harsh chemicals for dying. While polyester is wrinkle free and easy to dry, most polyester is cheaply made and does not last. Although recycled-polyester clothing is recently available, microplastics are still a concern. If you have to have polyester, buy recycled, and wash each garment in a **Guppyfriend bag <%= link_to "(get it!)", "https://en.guppyfriend.com/", :target => "_blank" %> to trap microplastics.</p>
                <div class="rating">
                  <div><p><em>&#8226; non-biodegradable, microplastics, pollution, recyclable</em></p></div>
                  <div><strong>Rating: C-</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_acrylic" id="acrylic">
         <div class="material_acrylic">
          <div class="card-product">
            <div class="material-img"  width="260" height="260">
              <img src="https://images.unsplash.com/photo-1576086085526-0de1930a57c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"/>
            </div>
              <div class="card-product-infos">
                <h2>Acrylic</h2>
                <p>Acrylic's main ingredient is acrylonitrile (vinyl cyanide), a <strong>cancer-causing chemical that affects the central nervous system</strong>. Production requires strong chemicals. Factory workers suffer from <strong>lung and colon cancer</strong> <%= link_to "(link)", "https://www.cdc.gov/niosh/docs/78-127/78127_18.html", :target => "_blank" %>. Acrylic is very heat retentive and often used for warm clothes like sweathers and athletic equipment, however given its <strong>link to breast cancer</strong> in women <%= link_to "(link)", "https://oem.bmj.com/content/67/4/263.abstract", :target => "_blank" %> , it's not recommended to have too much contact with this fiber. It is extremely flammable, and even melts in hot water in your washing machine. Acrylic is very susceptible to piling (more microplastics!), cheap and doesn't lose color when washed, and frequently used as knitting yarn. </p>
                <div class="rating">
                  <div><p><em>&#8226; non-biodegradable, carcinogenic, pollution, not-recyclable</em></p></div>
                  <div><strong>Rating: C-</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="material_nylon"></div>
        <div class="material_spandex"></div>
        <div class="material_elastane"></div>
        <div class="material_polyurethane"></div>
        <div class="material_polyamide"></div>

      </div>

      <div class="card-description px-5">
        <h1 class="text-center py-3">References</h1>
         <p class="text-center   gbu-heading">*closed loop process: a manufacturing process that avoids the use of waste, with chemicals being captured and reused instead of discharged into the surrounding area.</p>
        <p class="text-center   gbu-heading">**we get no commission or benefits from recommending the Guppyfriend Bag besides the knowledge that we're helping to stop microplastic pollution.</p>
        <br>
        <p class="text-center   gbu-heading">Images are from <%= link_to "Unsplash", "https://unsplash.com/", :target => "_blank" %> and <%= link_to "Pexel", "https://pexel.com/" %></p>
        <div class="row justify-content-center   gbu-heading">
          <p><%= link_to "... Good On You ", "https://goodonyou.eco/", :target => "_blank" %></p>
          <p><%= link_to "... Better Meets Reality ", "https://www.bettermeetsreality.com/", :target => "_blank" %></p>
          <p><%= link_to "... Catwalk Yourself ", "http://www.catwalkyourself.com/", :target => "_blank" %></p>
          <p><%= link_to "... Tortoise & Lady Grey ", "https://www.tortoiseandladygrey.com/", :target => "_blank" %></p>
          <p><%= link_to "... The Sustainable Fashion Collective ", "https://www.the-sustainable-fashion-collective.com/", :target => "_blank" %></p>
          <p><%= link_to "... Common Objective (CO) ", "https://www.commonobjective.co/article/fibre-briefing-cotton", :target => "_blank" %></p>
          <p><%= link_to "... WWF ", "https://www.worldwildlife.org/", :target => "_blank" %></p>
          <p><%= link_to "... fibre2fashion ", "https://www.fibre2fashion.com/", :target => "_blank" %></p>
          <p><%= link_to "... Ecocult ", "https://ecocult.com/can-feather-down-be-ethical-and-eco-friendly/", :target => "_blank" %></p>
          <p><%= link_to "... Guppyfriend ", "https://en.guppyfriend.com/", :target => "_blank" %></p>
          <p><%= link_to "... Sewport... ", "https://sewport.com/fabrics-directory/acrylic-fabric", :target => "_blank" %></p>
        </div>
      </div>
      <br>

      <div class="row mx-auto justify-content-center">
         <div class="m-2">
          <p class="button-label my-0 px-2"><%= link_to new_garment_path do %>
                  <i class="fas fa-camera"></i>
                <% end %></p>
                <span class="button-label-text">&nbsp;&nbsp;scanner</span>
        </div>
        <div class="m-2">
          <p class="button-label my-0 px-2"><%= link_to purchases_path do %>
                  <i class="fas fa-tshirt"></i>
                <% end %></p>
                <span class="button-label-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;closet</span>
        </div>
        <div class="m-2">
          <p class="button-label my-0 px-2">  <%= link_to materials_path do %>
                  <i class="fas fa-book-open"></i>
                <% end %></p>
                <span class="button-label-text">&nbsp;&nbsp;materials</span>
        </div>
      </div>
    </div>
  </div>
</div>
