<div class="container">
  <div class="row bg-light px-5 py-3">
    <div class>
      <div class="a_materials py-3">
        <div class="text-center py-3">
          <h1>The Good...</h1>
            <div class="py-3  style="overflow-y:scroll;">
              <p><em>We classify these materials as those that are biodegradable and sustainable to produce and wash with minimal impact on the environment. Few of these are available widely. But with your help in making the right <strong>choice</strong>, we can encourage clothing companies to realize our desire for more sustainable clothing ;)</em></p>
            </div>
        </div>
        <div class="material_hemp" id="hemp">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1574287652252-d5fcb8ad6ea4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"/>
            <div class="card-product-infos">
              <h2>Hemp</h2>
              <p>Growing hemp requires less water and pesticides than cotton. It also improves soil conditions and sequesters carbon dioxide from atmosphere. Nevertheless, processing hemp is less efficient and therefore costly, and it can be hard to dye.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>

        <div class="material_flax" id ="flax">
          <div class="material_linen" id="linen">
            <div class="card-product">
              <img src="https://images.unsplash.com/photo-1440342324699-75e542689857?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
              <div class="card-product-infos">
                <h2>Linen/Flax</h2>
                <p>Linen, made from flax fibres, dates back to as early as 4BC in ancient Egypt. Growing flax does not require pesticides or much water. Production of linen via a *closed loop production process without chemical retting, bleaching or dyeing is extremely eco-friendly. If you compost something made of undyed and unfinished linen, it will completely biodegrade.</p>
                <div class="rating">
                  <div><p><em>&#8226; biodegradable</em></p></div>
                  <div><strong>Rating: A+</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_lyocell" id="lyocell">
          <div class="material_tencel" id="tencel">
            <div class="card-product">
              <img src="https://images.unsplash.com/photo-1566764939731-dd2b86b2dd0f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60">
              <div class="card-product-infos">
                <h2>Lyocell/Tencel®</h2>
                <p>Like rayon, lyocell fabric is a made from wood cellulose, but differs in that it requires less chemical processing. Tencel®  is a brand of lyocell by the Austrian company, Lenzing AG, that processes GM-free, sustainably farmed trees (ie: beechwood) via *closed loop production. Lyocell does not need bleaching and uses less dye than cotton. Lyocell has also recently begun to be processed from bamboo, which grows fast without fertilisers or irrigation (although bamboo itself can be controversial, see below)</p>
                <div class="rating">
                  <div><p><em>&#8226; biodegradable</em></p></div>
                  <div><strong>Rating: A+</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_jute" id="jute">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1565273976195-6f8529600264?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
             <div class="card-product-infos">
              <h2>Jute</h2>
              <p>Jute is obtained from the bark of the white jute plant, which requires plenty of water (usually rain) to grow. Production of jute uses less chemicals, fertilizers, chemicals, dyes and bleaches, and its yield is 4 times more than flax per acre. Growing jute also improves soil conditions, and helps absorb and store large quantities of CO2. However, jute fibers are stiff and coarse, and its tensile strength is much lower than that of cotton and flax, complicating the production of soft and fine fabrics from jute.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable, recyclable</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_pinatex" id="pinatex">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1550828520-4cb496926fc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60">
             <div class="card-product-infos">
              <h2>Piñatex™</h2>
              <p>Piñatex™ is made from the fibers of pineapple leaves after harvesting the fruit from the pineapple crop, so no extra land, water or chemicals are needed to produce the material. It is a good vegan substitute for leather as it is strong and durable. The leftover leaves can be used ad fertilizer or biofuel so no wastage occurs. You can check out other plant leathers <%= link_to 'here', "https://medium.com/age-of-awareness/vegan-leather-usually-not-cruelty-free-8da87e4716e2", :target => "_blank" %>.</p>
              <div class="rating">
                <div><p><em>&#8226; not 100% biodegradable (as yet), reduced waste</em></p></div>
                <div><strong>Rating: A</strong></div>
              </div>
            </div>
          </div>
        </div>
           <br>
        <div class="material_nettle" id="nettle">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1557858281-a23455f48995?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
             <div class="card-product-infos">
              <h2>Nettle</h2>
              <p>Nettle grows like a weed in Europe, Africa and western North America, and is related to both hemp and flax. Like hemp and flax, it was historically used in Victorian times before cotton became as prevalent as it is today. Growing nettle requires minimal water and no pesticides. In fact, nettle can thrive in soil that is too barren for other crops (while also replenishing it with nutrients). The plant is used for many uses, with leftover stalk used for animal bedding, so growing it produces no waste.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable, reduced waste</em></p></div>
                <div><strong>Rating: A+</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_cotton_organic" id="cotton_organic">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1579795937561-dfbc32b1d7e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
             <div class="card-product-infos">
              <h2>Cotton (Organic)</h2>
              <p>Growing cotton requires a lot of water, chemicals and pesticides. Organic cotton involves avoiding chemicals and pesticides to reduce the impact on soil fertility and contamination of nearby bodies of water. To ensure the cotton is truly organic, third party certification is vital, as fake certificates have been used by big companies for 'greenwashing' and misleading marketing.</p>
              <div class="rating">
                <div><p><em>&#8226; biodegradable</em></p></div>
                <div><strong>Rating: A</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_soy" id="soy">
          <div class="material_soy" id="soy_silk">
            <div class="card-product">
              <img src="https://images.pexels.com/photos/273838/pexels-photo-273838.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260">
               <div class="card-product-infos">
                <h2>Soy</h2>
                <p>Soy fabric is made from the fibers of soy bean hulls. Soy requires more care than bamboo and hemp, (lots of water and pesticides), but GMO strains have also been developed. This along with deforestation to grow more soy are concerns. Processing includes the use of formaldehyde which is probable carcinogen, but alternatives are being investigated. Unlike during production of bamboo and wood cellulose, the chemicals are reused. Soy is also used to make tofu, so making fabric from it reduces waste. Producing this soft, cashmere-like fabric is still more sustainable than non-organic cotton, but care is needed to ensure it is grown sustainably.</p>
                <div class="rating">
                  <div><p><em>&#8226; reduced waste</em></p></div>
                  <div><strong>Rating: A-</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>

      <div class="b_materials py-3">
        <div class="text-center py-3">
          <h1>The Bad...</h1>
            <div class="py-3">
              <p><em>We classify these materials as those that <strong>could</strong> be  sustainable to produce and use... but for certain significant reasons, are often not. These fabrics hold a lot of potential, but we can not ignore the harm that current production methods inflict on our environment.</em></p>
            </div>
        </div>
        <div class="material_rayon" id="rayon">
          <div class="material_viscose" id="viscose">
            <div class="card-product">
              <img src="https://images.unsplash.com/photo-1524464790303-b7f467781d29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
              <div class="card-product-infos">
                <h2>Rayon(Viscose)</h2>
                <p>This highly controversial fabric is made from bamboo and trees, tough plants whose fibers are broken down with harsh chemical and mechanical processes involving sulfuric acid, sodium hydroxide and carbon disulfide. Factory workers suffer greatly (insanity, heart disease, nerve damage), and neighbouring waterways are often polluted, harming local children(mental degeneration), and causing great environmental damage. Production is also linked to deforestation.</p>
                <div class="rating">
                  <div><p><em>&#8226; semi-synthetic, social & environmental impact</em></p></div>
                  <div><strong>Rating: B-</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_bamboo" id="bamboo">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1540999758994-161f2ee6e1c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
            <div class="card-product-infos">
              <h2>Bamboo</h2>
              <p>Bamboo grows fast, does not require fertilizer or as much water, pesticides and labor to grow. However China is the main producer of bamboo and there is a lack of information on how sustainably it is grown. Processing bamboo can involve lots of harsh chemicals and it is most commonly made into rayon, which is very toxic to produce, and results in the release of a lot of pollutants. Processing bamboo into Lyocell and Tencel® is more sustainable but few brands produce these fabrics. Bamboo is more sustainable than cotton to grow, but methods for processing it need to be more environmentally friendly.</p>
              <div class="rating">
                <div><p><em>&#8226; environmental impact</em></p></div>
                <div><strong>Rating: B</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_cotton" id="cotton">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1502395809857-fd80069897d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
              <div class="card-product-infos">
              <h2>Cotton</h2>
                 <p>Cotton is extremely versatile. However only 30% is grown using rainwater, the rest relies on irrigation (1 shirt requires up to 2,700 litres of water), causing environmental disasters like the <%= link_to "shrinkage of the Aral Sea.", "https://www.theguardian.com/sustainable-business/sustainable-fashion-blog/2014/oct/01/cotton-production-linked-to-images-of-the-dried-up-aral-sea-basin" %> Production also requires heavy use of pesticides and chemicals, and/or GM-crop, all of which contributes to heavy debt linked to <%= link_to "farmer suicides in India", "https://www.theguardian.com/global-development/gallery/2014/may/05/india-cotton-suicides-farmer-deaths-gm-seeds" %>. Long term cultivation causes erosion and depletes soil nutrients, resulting in further encroachment into habitats. In addition, most of the world's cotton is grown in developing countries where environmental laws are not heavily enforced. Read more about cotton's impact <%= link_to "here", "https://www.tortoiseandladygrey.com/2014/09/01/textile-review-the-environmental-impacts-of-cotton/" %> and <%= link_to "here", "https://www.worldwildlife.org/industries/cotton" %>.</p>
              <div class="rating">
                <div><p><em>&#8226; water-intensive, social & environmental impact</em></p></div>
                <div><strong>Rating: B-</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_modal" id="modal">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1562157873-818bc0726f68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
              <div class="card-product-infos">
              <h2>Modal</h2>
              <p>Modal is a semi-synthetic fiber like rayon that is often used as an alternative to cotton jersey. It is manufactured via a *closed loop process, and its growth uses ten to twenty times less water than cotton. Trademarked  Lenzing Modal® by the Austrian company Lenzing AG is obtained from sustainably managed beech tree plantations in Europe. However, other modal sources on the market have been linked to deforestation in Indonesia, where rainforests have beeen felled to make way for timber plantations, causing loss of habitat and endangerment of vulnerable animal and plant species.</p>
              <div class="rating">
                <div><p><em>&#8226; deforestation</em></p></div>
                <div><strong>Rating: B-</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_wool" id="wool">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1484557985045-edf25e08da73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
              <div class="card-product-infos">
              <h2>Wool</h2>
              <p>.</p>
              <div class="rating">
                <div><p><em>&#8226; </em></p></div>
                <div><strong>Rating: B</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_wool"></div>
        <div class="material_cashmere"></div>
        <div class="material_silk"></div>
        <div class="material_ramie"></div>
        <div class="material_down"></div>
      </div>
      <div class="c_materials py-3">
        <div class="text-center py-3">
          <h1>and The Ugly...</h1>
            <div class="py-3">
              <p><em>We classify these materials as those that <strong>harm our environment and health</strong> during production, use, and after being discarded. These fabrics may be cheap to produce and buy, but the price we pay from polluted seas, suffering animals, and toxic food is much to high for us to pay!</em></p>
            </div>
        </div>
         <div class="material_leather">
          <div class="card-product">
            <img src="https://images.unsplash.com/photo-1473188588951-666fce8e7c68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60"/>
            <div class="card-product-infos">
              <h2>Leather</h2>
              <p>We'll be the first to admit, leather looks awesome. But non-eco friendly leather results in: methane emissions (livestock); deforestation; toxic chemicals from tanning (carcinogenic chromium, lead, arsenic and acids); polluted waterways. Tannery workers suffer from cancer, kidney and liver damage, and reproductive problems. Sustainable leather is a possibility, but leather alternatives derived from pineapples, grapes, mushrooms or seaweed are better!</p>
              <div class="rating">
                <div><p><em>&#8226; animal-based</em></p></div>
                <div><strong>Rating: B</strong></div>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="material_flax">
          <div class="card-product">
             <div class="">
              <h3>      More fabric descriptions coming soon...</h3>
            </div>
          </div>
        </div>
        <div class="material_fur"></div>
        <div class="material_polyester"></div>
        <div class="material_acrylic"></div>
        <div class="material_spandex"></div>
        <div class="material_nylon"></div>
        <div class="material_polyurethane"></div>
        <div class="material_polyamide"></div>
        <div class="material_elastane"></div>
      </div>

      <div class="card-description">
        <p>*closed loop process: a manufacturing process that avoids the use of waste, with chemicals being captured and reused instead of discharged into the surrounding area.</p>
      </div>
      <br>
      <div class="card-description">
        <h1 class="text-center py-3">References</h1>
        <br>
        <p>Images are from <%= link_to "Unsplash", "https://unsplash.com/" %> and <%= link_to "Pexel", "https://pexel.com/" %></p>
        <p><%= link_to "1) Good On You", "https://goodonyou.eco/" %></p>
        <p><%= link_to "2) Better Meets Reality", "https://www.bettermeetsreality.com/" %></p>
        <p><%= link_to "3) Catwalk Yourself", "http://www.catwalkyourself.com/" %></p>
        <p><%= link_to "4) Tortoise & Lady Grey", "https://www.tortoiseandladygrey.com/" %></p>
        <p><%= link_to "5) The Sustainable Fashion Collective", "https://www.the-sustainable-fashion-collective.com/" %></p>
        <p><%= link_to "6) Common Objective (CO)", "https://www.commonobjective.co/article/fibre-briefing-cotton" %></p>
        <p><%= link_to "7) WWF", "https://www.worldwildlife.org/i" %></p>
      </div>
      <br>
        <div class="row mx-auto justify-content-center">
          <div class="m-2">
            <p><%= link_to purchases_path do %>
                    <i class="fas fa-tshirt"></i>
                  <% end %></p>
          </div>
          <div class="m-2">
          <p><%= link_to new_garment_path do %>
                  <i class="fas fa-camera"></i>
                <% end %></p>
          </div>
        </div>
    </div>
  </div>
</div>
